.tm-section-title-box:hover{
    background: blue;
    color: white;
    font-weight: bold;
}
p::first-letter{
    color: #87CEFA;
    font-size: 30px;
}

section{
    background: grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
} 
h2 + p {
    font-style: italic;
}

section::after{
    border-style: solid;
    border-width: 50px 250px 0 0;
    border-color: #98c2f0 transparent transparent transparent;
}
@media print {
    
*{
    background: white;
}
#home {
    margin-left: 100px;
}    
    
.tm-sidebar, #about, .heading, .blocks, #ideas, .img-fluid, #contact {
    display: none;
}
    
.padding-medium .tm-section-title {
    color: blue;
}
.tm-section-description {
    text-indent: 1.5em; 
}

.flex-2-col {
    display: flex;
    align-items: center;
}
    
h2 + p{
    font-style: italic;
}

.padding-medium {
    padding-right: 75px;
    padding-left: 150px;
    margin-top: -40px;
}
    
.flex-item img {
    height: 175px;
    width: 175px;
    display: block;
    margin: auto;
    
}
    
.tm-section-title-box:hover {
    color: white;
    background: blue;
    font-weight: bold;
}
    
p::first-letter {
    color: #87CEF9;
    font-size: 30px;
}
    
.tm-footer {
    margin-top: -100px;
    margin-left: 100px;
}

}
@media screen{
.flex-2-col {
    display:flex;
    flex-direction: row;
}
.flex-item img {
        margin: auto;
        width: 750px;
        height: 675px;
        display: block;
         
}
.tm-section-title:hover{
    background-color: #87CEFA;
}
.padding-medium{
    margin: auto;
}
.tm-section-description{
    text-indent: 1.5em;
}
.tm-banner-inner{
    margin: auto;
}

section::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 220px 0 0;
    border-color: #0abeff transparent transparent transparent;
}
.tm-nav-item-link:hover{
    list-style-type: none;
    background-color: #f5f5f5;
}
.btn:hover{
    list-style-type: none;
    background-color: skyblue;
    border: 1px solid skyblue;
    border-radius: 0px;
}
.btn{
    margin-left: 943px;
    background-color: white;
    color:skyblue;
    border: 1px solid skyblue;
    border-radius: 0px;
}
.form-group-2-col-right:after {
    content:" *"; 
    color: #e32;
    font-weight: bold;
}
.tm-banner-inner{
    background-color: white;
}
.margin-b-10{
    background-color: #eaeaea;
}
}
.padding-medium a{
    color: black;
}

.padding-medium a:visited{
    text-decoration: underline;
}

.padding-medium a:hover{
    border-bottom: 1px double #79b6f4;
    color: #79b6f4;
}

.text::after{
    content: "New";
    vertical-align: super;
    color: red;
    font-size: 11px;
}

.blocks{
    background: #e6eaed;
} 
.box-work:nth-child(2n) {
    background: #e6eaed;
}

.box-work {
    padding: 5px;
}

.box-work p::first-letter{
    color: black;
    font-size: 30px;
}