$headerBackground: url(../img/header_background_v1.jpg) no-repeat top/cover;
$pageFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$headerFontColor: #ECECEC;
$battonBG: #00ACAC;
$bodyBG: #fff;
$articleBG: #efefef;
$rightAlign: right;
$borderColor: #608d8b;
$formBorder: 1px solid $borderColor;
$descriptionColor: #e90303;
$h1Color: #000;
$h3Color: #0097A7;
$h1FontSize: 24px;
$h3FontSize: 19px;
$pFontSize: 15px;
$pLineHeight: 26px;
$pLetterSpacing: 0em;