$headerBackground: url(../img/header_background_v2.jpg) no-repeat top/cover;
$pageFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;;
$headerFontColor: #ff5222;
$battonBG: #0404ac;
$bodyBG: #efefef;
$articleBG: #fff;
$rightAlign: right;
$borderColor: #cfd8dc;
$formBorder: 1px solid $borderColor;
$descriptionColor: #c3c3d4;
$h1Color: #757575;
$h3Color: #608d8b;
$h1FontSize: 26px;
$h3FontSize: 21px;
$pFontSize: 17px;
$pLineHeight: 26px;
$pLetterSpacing: 0.027em;
